*
# Alacritty
!alacritty
!alacritty/*
# Helix
!helix
!helix/*
# Starship
!starship
!starship/*
# Zellij
!zellij
!zellij/*
# ZSH
!zsh
!zsh/.zshrc
!zsh/.zshenv
# Git
!git
!git/*

# Git Ignore
!.gitignore
# License
!LICENSE
