layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zjstatus" {
                hide_frame_for_single_pane "false"

                format_left   "{mode}#[fg=#89B4FA,bg=#181825,bold] {session} #[bg=#181825]{tabs}"
                format_center ""
                format_right  "{datetime}"
                format_space  "#[bg=#181825]"

                mode_normal        "#[bg=#89B4FA,fg=#181825,bold] N "
                mode_locked        "#[bg=#F38BA8,fg=#181825,bold] L "
                mode_pane          "#[bg=#A6E3A1,fg=#181825,bold] P "
                mode_tab           "#[bg=#F9E2AF,fg=#181825,bold] T "
                mode_resize        "#[bg=#FAB387,fg=#181825,bold] R "
                mode_move          "#[bg=#FAB387,fg=#181825,bold] M "
                mode_scroll        "#[bg=#B4BEFE,fg=#181825,bold] S "
                mode_enter_search  "#[bg=#B4BEFE,fg=#181825,bold] S "
                mode_search        "#[bg=#B4BEFE,fg=#181825,bold] S "
                mode_session       "#[bg=#CBA6F7,fg=#181825,bold] S "
                mode_rename_tab    "#[bg=#F9E2AF,fg=#181825,bold] R "
                mode_rename_pane   "#[bg=#A6E3A1,fg=#181825,bold] R "
                mode_default_to_mode "normal"

                tab_normal               "#[fg=#6C7086,bg=#181825] {name} {fullscreen_indicator}{sync_indicator}{floating_indicator}"
                tab_active               "#[fg=#181825,bg=#89B4FA,bold] {name} {fullscreen_indicator}{sync_indicator}{floating_indicator}"
                tab_fullscreen_indicator "F "
                tab_sync_indicator       "S "
                tab_floating_indicator   "H "

                datetime          "#[fg=#9399B2,bg=#181825,bold] {format} "
                datetime_format   "%a %d %b  %H:%M"
                datetime_timezone "Asia/Jerusalem"
            }
        }
		children
    }
    tab {}
}
