layout {
	tab focus=true name="main" split_direction="vertical" {
		pane borderless=true focus=true name="helix" {
			// You can't set environment variables for pane commands.
			// This is a workaround since bacon needs access to cargo
			// which is installed in ~/.cargo/bin and not regular $PATH.
			command "sh"
			args "-c" "PATH=\"$HOME/.cargo/bin:$PATH\" exec hx"
			size "60%"
		}
		pane borderless=true split_direction="horizontal" stacked=true {
			pane name="bacon" expanded=true {
				// You can't set environment variables for pane commands.
				// This is a workaround since bacon needs access to cargo
				// which is installed in ~/.cargo/bin and not regular $PATH.
				command "sh"
				args "-c" "PATH=\"$HOME/.cargo/bin:$PATH\" exec bacon --summary --wrap --no-help-line"
			}
			pane name="shell" {}
		}
	}
}
