layout {
	tab focus=true name="main" split_direction="vertical" {
		pane borderless=true focus=true name="helix" {
			command "/bin/zsh"
			args "-c" "exec hx"
			size "60%"
		}
		pane split_direction="horizontal" stacked=true {
			pane expanded=true name="bacon" {
				command "/bin/zsh"
				args "-c" "exec bacon --summary --wrap --no-help-line"
			}
			pane name="shell" {
				command "/bin/zsh"
			}
		}
	}
}
